<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="layouts/template :: head">

	<body>
	  <header th:replace="layouts/template :: header">
	  </header>

	  <div class="container mt-4 animate__animated  animate__backInLeft">
		  <h1 class="text-center my-4">Mantenimiento de Productos</h1>
			
			<a th:href="@{/admin/crear-producto}" class="btn btn-dark btn-sm my-2"><i class="fas fa-user fa-fw"></i> Crear Producto</a>
			<div class="col-md-12 my-4">
				<form th:action="@{/admin/productos}" method="GET">
					<div class="form-group">
					 <div class="input-group">
						 <!-- <label for=""</label> -->
							 <input type="text" name="query" id="" class="form-control" placeholder="Ingrese una palabra Clave" aria-describedby="helpId">
						 <div class="input-group-append">
							 <button class="btn btn-secondary" type="submit">Buscar</button>
							</div>
					 </div>
						 
				 </div>
				 
				</form>
			</div>

			<h5 class="text-center">Hay <span th:text="${countProducts}"> </span> productos</h5>

			<div th:if="${countProducts != 0 }" class="table-responsive">
				<table class="table  table-striped bg-dark table-bordered ">
					<thead>
						<tr>
							<td>#</td>
							<td>Nombre</td>
							<td>SKU</td>
							<td>Categoria</td>
							<td>Proveedor</td>
							<td>Descripcion</td>
							<td>Stock</td>
							<td>Precio</td>
							<td>Precio Venta</td>
							<td>Acciones</td>
						</tr>
					</thead>
				<tbody>
					<tr th:each="producto : ${productos}">
						<td th:text="${producto.idProduct}"></td>
						<td >
							<div class="d-flex justify-content-between align-items-center">
								<img  th:src="${producto.thumbnailUrl}" style="width: 80px; height: 80px; border-radius: 50%;">
								<div class="text-center">
									<b th:text="${producto.name}"></b>	
								</div>
							</div>
						</td>
						<td th:text="${producto.sku}"></td>
						<td th:text="${producto.category.name}"></td>
						<td th:text="${producto.vendor.company}"></td>	
						<td th:text="${producto.description}"></td>
						<td th:text="${producto.stock}"></td>
						<td th:text="${producto.price}"></td>
						<td th:text="${producto.salePrice}"></td>
						<td>
							 <a th:href="@{/admin/productos/}+${producto.idProduct}" class="btn btn-sm btn-success"><i class="fas fa-edit"></i></a>								
							<a th:href="@{/admin/productos/eliminar/}+${producto.idProduct}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>	
						</td>				
					</tr>		
				</tbody>
				</table>
			</div>
			
			<div th:if="${countProducts == 0 }">
				<h3 class="text-center my-4">No hay productos que mostrar</h3>
			</div>
		</div>
	
	    <footer th:replace="layouts/template :: footer"></footer>
</body>

</html>