<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="layouts/template :: head">

	<body>
	  <header th:replace="layouts/template :: header">
	  </header>

	  <div class="container mt-4 animate__animated  animate__backInLeft">
        <!-- <div sec:authorize="hasRole('USER')">Soy un cliente.</div>
        <div sec:authorize="hasRole('ADMIN')">Soy un admin.</div>
        <div sec:authorize="isAuthenticated()">
            Es visible solo para autenticados.
        </div>

        Authenticated username:
        <div sec:authentication="name"></div>
        
		Authenticated user roles:
        <div sec:authentication="principal.authorities"></div> -->
		<!-- <div th:replace="layouts/template :: saludo"> -->
		<!-- </div> -->

		<h1 class="text-center my-4">Catalogo de Productos</h1>
		<div class="row ">
			<div class="col-md-10">
				<form th:action="@{/catalogo-de-productos}" method="GET">
					<div class="form-group">
					 <div class="input-group">
						 <!-- <label for=""</label> -->
							 <input type="text" name="query" id="" class="form-control" placeholder="Ingrese una palabra Clave" aria-describedby="helpId">
						 <div class="input-group-append">
							 <button class="btn btn-secondary" type="submit">Buscar</button>
							</div>
					 </div>
						 
				 </div>
				 
			   </form>
		   <div class="row my-4">
				<div class="row" th:if="${productos != null}" >
					<h5>Hay <span th:text="${countProducts}"> </span> productos</h5>
					<div th:each="p:${productos}" class="col-md-4">
						<div class="card" >
							<img class="card-img-top" th:src="${p.thumbnailUrl}" alt="">
							<div class="card-body">
								<h4 class="card-title text-capitalize" th:text="${p.name}">Title</h4>
								
								<span class="badge badge-primary bg-primary" th:text="'S./ ' + ${p.price}">Primary</span>

								<span class="badge badge-success bg-success" th:text="${p.category.name}">Success</span>

								<p class="card-text my-1" th:text="${p.description}">Text</p>

								<button class="btn btn-primary btn-block" style="width: 100%;">Agregar al carrito <i class="mx-1 fa fa-shopping-cart" aria-hidden="true"></i></button>
							</div>
						</div>
					</div>
				</div>
				<div th:if="${countProducts == 0 }">
					<h3 class="text-center my-4">No hay productos que mostrar</h3>
				</div>
		   </div>
			</div>
			<div class="col-md-2">
				<h4>Categorias</h4>
			</div>
		</div>
	
	</div>
	    <footer th:replace="layouts/template :: footer"></footer>
</body>

</html>