<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="layouts/template :: head"></head>

  <body>
    <header th:replace="layouts/template :: header"></header>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-4 my-2">
          <div class="card animate__animated animate__pulse">
            <img
              class="card-img-top"
              style="height: 20rem"
              src="https://previews.123rf.com/images/tartila/tartila1812/tartila181200131/113896480-food-products-on-shop-shelf-supermarket-shopping-shelves-food-store-showcase-and-choice-packed-meal-.jpg"
              alt="Card image cap"
            />
            <div class="card-body text-center">
              <a
                th:href="@{/catalogo-de-productos}"
                class="animate__animated animate__bounce btn btn-lg btn-dark mx-2"
                >Ir a Catalogo de productos</a
              >
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <footer th:replace="layouts/template :: footer"></footer>
  </body>
</html>
